<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.apple.keyboardlayout.ua</string>
	<key>CFBundleName</key>
	<string>UA</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>KLInfo_UA</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>com.apple.keyboardlayout.ua.ua</string>
		<key>TISIntendedLanguage</key>
		<string>uk-UA</string>
	</dict>
</dict>
</plist>
